<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pin.name %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag(@pin.photo, :style=>'width:300px') %>
</p>

<p>
  <b>Description:</b>
  <%= @pin.description %>
</p>


<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>

<%= link_to "Mas pins del mismo usuario", pinsof_path(@pin.user.id) %> 
